


.navbar-brand{
  
  font-family: 'Rajdhani', sans-serif;
  position: absolute;
  margin: 650px;
}

h1{
  
  font-family: 'Rajdhani', sans-serif;
}

h2{
  
  font-family: 'Rajdhani', sans-serif;
}

h5{
  
  font-family: 'Rajdhani', sans-serif;
}


p{

  font-family: 'Rajdhani', sans-serif;
}


.btn{
  
  font-family: 'Rajdhani', sans-serif;
}

span{
  position:absolute;
  margin: 70px;
  
}



